.bg-dc {
    background-image:  url('../../../../public/assets/images/328902.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.623);
    color: rgb(197, 197, 197);
    height: 100vh;
}

.dc-title {
    color: #0376f2;
    font-stretch: extra-expanded;
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
}